{% load static %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Resumes</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% static 'documents/DrewGiffinResumeSoftwareEngineer.pdf' %}" target="_blank">Software Engineer</a>
        <a class="dropdown-item" href="{% static 'documents/DrewGiffinResumeMathematician.pdf' %}" target="_blank">Mathematician</a>
    </div>
</li>