<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade" id="mathematician">
    <br>
    {% include "experience/mathematician.html" %}
  </div>
  <div class="tab-pane fade" id="senior_software_engineer">
    <br>
    {% include "experience/senior_software_engineer.html" %}
  </div>
  <div class="tab-pane fade" id="technical_operations_manager">
    <br>
    {% include "experience/technical_operations_manager.html" %}
  </div>
  <div class="tab-pane fade" id="software_engineer">
    <br>
    {% include "experience/software_engineer.html" %}
  </div>
  <div class="tab-pane fade" id="certifications">
    <br>
    {% include "experience/certifications.html" %}
  </div>
  <div class="tab-pane fade" id="skills">
    <br>
    {% include "experience/skills.html" %}
  </div>
  <div class="tab-pane fade" id="education">
    <br>
    {% include "experience/education.html" %}
  </div>
  <div class="tab-pane fade" id="extracurricular">
    <br>
    {% include "experience/extracurricular.html" %}
  </div>
</div>