<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade" id="certifications">
    <br>
    {% include "experience/certifications.html" %}
  </div>
  <div class="tab-pane fade" id="skills">
    <br>
    {% include "experience/skills.html" %}
  </div>
  <div class="tab-pane fade" id="education">
    <br>
    {% include "experience/education.html" %}
  </div>
  <div class="tab-pane fade" id="extracurricular">
    <br>
    {% include "experience/extracurricular.html" %}
  </div>
</div>