<br>
<div id="content" class="tab-content">
  <div id="lead-software-engineer"  class="experience-section">
    {% include "experience/lead-software-engineer.html" %}
  </div>
  <br>
  <hr>
  <br>
  <div id="mathematician" class="experience-section">
    {% include "experience/mathematician.html" %}
  </div>
  <br>
  <hr>
  <br>
  <div id="technical-operations-manager" class="experience-section">
    {% include "experience/technical-operations-manager.html" %}
  </div>
  <br>
  <hr>
  <br>
  <div id="software-engineer" class="experience-section">
    {% include "experience/software-engineer.html" %}
  </div>
  <br>
  <hr>
  <br>
  <div id="certificates" class="experience-section">
    {% include "experience/certificates.html" %}
  </div>
  <br>
  <hr>
  <br>
  <div id="skills" class="experience-section">
    {% include "experience/skills.html" %}
  </div>
  <br>
  <hr>
  <br>
  <div id="education" class="experience-section">
    {% include "experience/education.html" %}
  </div>
  <br>
  <hr>
  <br>
  <div id="extracurricular" class="experience-section">
    {% include "experience/extracurricular.html" %}
  </div>
</div>