<h4>Lead Software Engineer &mdash; {% include "experience/pilot-games-tooltip.html" %}</h4>
<h5>August 2022 - September 2025</h5>
<h6>When the company decided to form an internal game development team, they needed someone reliable with strong technical and mathematical skills &mdash; and I was fortunate to be top of mind. My primary responsibility was to develop the core file that controlled every possible game outcome. This file was critical to the success of each title and was subject to intense scrutiny, since any mistake would appear directly in front of players in a tightly regulated market.</h6>
<h6>Before this role, all the game logic was outsourced, meaning there was no internal reference code to build from. I reverse engineered the necessary systems by studying remnants of previous partner work and developed internal software from the ground up.</h6>
<h6>I’ve separated this position into two parts to clearly distinguish the responsibilities and skills involved: one focused on the lead engineering side and the other on the mathematical aspects.</h6>
<ul>
    <li>Designed and developed the company’s core math engine, powering regulated pull-tabs.</li>
    <li>Built an automated pipeline to transform configuration files into production ready game packages and whitebox simulations.</li>
    <li>Revived stalled projects by converting single models from failed external partnerships into complete, compliant game packages.</li>
    <li>Led and mentored a team of six developers (internal and external): resolving resolving complex engine logic, and implementation challenges.</li>
    <li>Partnered with project managers to define deliverables, set timelines, and communicate math engine capabilities and limitations.</li>
    <li>Designed a UML diagram of the game engine to clearly document system architecture, enabling developers to onboard quickly and contribute effectively.</li>
    <li>Contributed to the design of central game features, providing technical guidance and flagging mechanics that were infeasible within project requirements.</li>
</ul>