<div style="position: sticky; top: 0; background: white; z-index: 1000;">
  <ul class="nav nav-pills">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Work</a>
      <div class="dropdown-menu">
        <div class="dropdown-header">Pilot Games</div>
        <a class="dropdown-item" href="#lead-software-engineer">Lead Software Engineer</a>
        <a class="dropdown-item" href="#mathematician">Mathematician</a>
        <a class="dropdown-item" href="#technical-operations-manager">Technical Operations Manager</a>
        <a class="dropdown-item" href="#software-engineer">Software Engineer</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#certificates">Certificates</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#skills">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#education">Education</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#extracurricular">Extracurricular</a>
    </li>
  </ul>
  <hr>
</div>