<h4>Software Engineer &mdash; Pilot Games</h4>
<h5>August 2018 - August 2022</h5>
<h6>I joined the company during my final year and a half of school, when the team had fewer than ten people. I was fortunate to be part of its growth into a multibillion dollar revenue organization. Although I wasn’t directly involved with game development at first, I gained valuable insight into large scale operations by creating the first ordering system for player terminals and fulfilling those orders. This experience laid the foundation for the technical and problem solving skills I rely on to this day.</h6>
<ul>
    <li>Built a PHP/MySQL system to track and manage thousands of orders and devices, replacing manual processes and improving operational efficiency; the platform remained in use for over six years.</li>
    <li>Programmed iPads for player terminals with correct names, labels, SSIDs, and software configurations.</li>
    <li>Supported distributors with device activation, troubleshooting.</li>
</ul>