<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Work</a>
    <div class="dropdown-menu" style="">
      <div class="dropdown-header">Pilot Games</div>
      <a class="dropdown-item" data-bs-toggle="tab" href="#mathematician">Mathematician</a>
      <a class="dropdown-item" data-bs-toggle="tab" href="#senior_software_engineer">Senior Software Engineer</a>
      <a class="dropdown-item" data-bs-toggle="tab" href="#technical_operations_manager">Technical Operations Manager</a>
      <a class="dropdown-item" data-bs-toggle="tab" href="#software_engineer">Software Engineer</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#certifications" aria-selected="false" role="tab">Certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#skills" aria-selected="false" role="tab">Skills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#education" aria-selected="false" role="tab" tabindex="-1">Education</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#extracurricular" aria-selected="false" tabindex="-1" role="tab">Extracurricular</a>
  </li>
</ul>