{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div id="carousel" class="carousel slide">
            <div class="carousel-inner">
                {% include "about/carousel-image.html" with source="images/arya_tree.jpg" active=True %}
                {% include "about/carousel-image.html" with source="images/arya_sunset.jpg" %}
                {% include "about/carousel-image.html" with source="images/arya_goofy.jpg" %}
                {% include "about/carousel-image.html" with source="images/arya_ink.jpg" %}
                {% include "about/carousel-image.html" with source="images/sleeping_bear_winter.jpg" %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>  
    <div class="col-md-1">
    </div>  
    <div class="col-md-7">
        <h1 class="mt-4">About Me</h1>
        <h4>I'm a computer science graduate from Central Michigan University. Born and raised in Michigan. I had always been curious how computers worked, and after taking a programming class in high school, I decided to persue that curiosity and turn it into my career.</h4>
        <h4>I live in Grand Rapids. I have a wonderful dog (sheepdoodle), and I love to take her on adventures. Some of my favorite hobbies include gaming, disc golf, 3D printing, watching standup comedy, trading cards, and target shooting.</h4>
        <h4>My favorite place to get away (even in the winter) is where my grandparents built their house, which happens to be right next to the legendary Sleeping Bear Sand Dunes. The whole surrounding area is full of amazing sites and great surprises.</h4>
    </div>
</div>
{% endblock %}