<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="icon" href="{% static 'images/icon.png' %}" type="image/png">
        <link rel="stylesheet" href="{% static 'css/bootstrap.flatly.css' %}">
        <title>Drew Giffin</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'images/profile.jpg' %}" class="img-fluid rounded-pill m-4">
                </div>  
                <div class="col-md-1">
                </div>  
                <div class="col-md-7">
                    <h1 class="mt-4">Drew Giffin</h1>
                    <h3>Software & Mathematics</h3>
                    <br>
                    <h5>Drew Giffin is a creative and detail oriented professional known for delivering high quality, impactful work. With a talent for solving complex challenges and turning ideas into polished results, Drew combines innovation, precision, and efficiency in every project. Collaborative, driven, and committed to excellence, Drew consistently exceeds expectations and brings a thoughtful, professional approach to all endeavors.</h5>
                </div>
            </div>
        </div>
    </body>
</html>