<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="icon" href="{% static 'images/icon.png' %}" type="image/png">
        <link rel="stylesheet" href="{% static 'css/bootstrap.flatly.css' %}">
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <title>Drew Giffin</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>