{% extends "base.html" %}
{% block content %}
    <br>
    {% if form %}
        <h2>Contact</h2>
        <h5>Have a question, opportunity, or just want to connect? Send me a message and I'll get back to you as soon as I can.</h5>
        <form method="post">
            {% csrf_token %} 
            {% for field in form %}
                <div class="mb-3 row">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 col-md-1 col-form-label text-end">
                        {{ field.label }}:
                    </label>
                    <div class="col-sm-10 col-md-11">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <br>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    {% else %}
        <h2>Thank you for reaching out!</h2>
	<h5>Your message has been received, and I'll get back to you as soon as possible.</h5>
    {% endif %}
{% endblock %}
