<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#work" role="button" aria-haspopup="true" aria-expanded="false">Work</a>
    <div class="dropdown-menu" style="">
      <div class="dropdown-header">Pilot Games</div>
      <a class="dropdown-item" href="#">Mathematician</a>
      <a class="dropdown-item" href="#">Senior Software Engineer</a>
      <a class="dropdown-item" href="#">Technical Operations Manager</a>
      <a class="dropdown-item" href="#">Software Engineer</a>
    </div>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#certifications" aria-selected="false" role="tab">Certifications</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#skills" aria-selected="false" role="tab">Skills</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#education" aria-selected="false" role="tab" tabindex="-1">Education</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#extracurricular" aria-selected="false" tabindex="-1" role="tab">Extracurricular</a>
  </li>
</ul>