{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        {% load static %}
        <img src="{% static 'images/profile.jpg' %}" class="img-fluid rounded-pill m-4">
    </div>  
    <div class="col-md-1">
    </div>  
    <div class="col-md-7">
        <h1 class="mt-4">Drew Giffin</h1>
        <h3>Software & Mathematics</h3>
        <br>
        <h5>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</h5>
        <h5>Auctor aenean urna vivamus gravida natoque nunc pellentesque aptent, rhoncus sagittis metus sodales laoreet blandit ornare magnis netus, luctus nisl tempor eu a quam varius. Sociis varius nascetur pellentesque rhoncus luctus platea fringilla lobortis laoreet, id massa dui tellus facilisis cras at consequat facilisi placerat, lacus quis odio mus bibendum nec etiam aptent. Pharetra ligula consequat senectus rutrum diam tempus metus vitae ultricies, natoque inceptos venenatis netus velit orci a in pellentesque semper, nulla dictum luctus at risus egestas habitant habitasse.</h5>
        <h5>Convallis etiam lectus ornare vitae penatibus platea at tempus sagittis, fermentum posuere quisque mattis facilisis mi inceptos. Dictum himenaeos rutrum in quis curabitur cubilia at pharetra, nascetur habitant integer nibh turpis tellus ad hac ornare, pulvinar proin et vehicula senectus luctus augue. Dapibus euismod scelerisque sodales inceptos porta lectus cras, curae justo parturient nulla lacus dictum nec, cum metus vestibulum nibh ornare rutrum. Euismod ad etiam mollis risus eros luctus mus condimentum primis sollicitudin, donec semper iaculis auctor natoque mattis convallis pharetra sodales praesent, sociis integer inceptos per porta pretium phasellus odio dapibus.</h5>
    </div>
</div>
{% endblock %}