<h4>
    <a href="https://github.com/drewgiffin/drewgiffindev" target="_blank">
        drewgiffin.dev
    </a>
</h4>
<h5>This website was developed entirely by me. I made this as a portfilio to showcase my projects, skills, experiences, incorporating responsive design principles and modern web technologies. The site highlights interactive elements, clear navigation, and a cohesive visual style to provide an engaging user experience across devices. Built with maintainability and scalability in mind, the project demonstrates my ability to design and implement a full featured web application from concept to deployment.</h5>
<ul>
    <li>
        Built a personal website portfolio using Django for backend structure and Bootstrap for responsive, mobile-first design.
    </li>
    <li>
        Developed multiple sections to clearly present professional background and skills.
    </li>
    <li>
        Leveraged Django templates to create a maintainable, scalable web application.
    </li>
    <li>
        Applied Bootstrap components and utilities for consistent styling, interactive elements, and cross device compatibility.
    </li>
    <li>
        Configured a CI/CD pipeline to automatically deploy updates from GitHub Registry to a personal server.
    </li>
    <li>
        Ensured intuitive navigation and cohesive visual design to enhance user experience.
    </li>
</ul>