<h4>
    <a href="https://github.com/drewgiffin/student-activities-and-stress-prediction-analysis" target="_blank">
        Student Stress Level Classifier
    </a>
</h4>
<h5>Using a dataset from <a href ="https://github.com/drewgiffin/student-stress-level-classifier">Kaggle</a>, I developed a machine learning project to better understand how students’ daily activities relate to their stress. Features such as time spent studying, sleeping, socializing, exercising, participating in extracurricular activities, and academic indicators like GPA were analyzed to train a model capable of predicting a student's stress level.</h5>
<ul>
    <li>
        Created visualizations such as histograms, box plots, correlation heatmaps, and scatter plot matrices to represent data relationships.
    </li>
    <li>
        Performed exploratory data analysis (EDA) to understand the features before training.
    </li>
    <li>
        Preprocessed the data by removing outliers, handling missing values, eliminating duplicates, and normalizing for model training.
    </li>
    <li>
        Trained a logistic regression model to predict student stress levels.
    </li>
    <li>
        Reported a confusion matrix and classification metrics to evaluate model accuracy and identify areas for improvement.
    </li>
</ul>